.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    padding: 8px;
}

.content {
    flex: 1;
    padding-left: 8px;
    background-color: #ccc;
    min-height: 1000px;
}
